button,
input[type="submit"] {
  appearance: none;
  -webkit-appearance: none;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: none;
  font-family: "Inter", Avenir, Helvetica, Arial, sans-serif;
}

button:active {
  transform: scale(0.99);
}

body {
    background-color: #FAFAF8;
    color: black;
}

main {
    margin: 0px 100px
}

.main-container {
    display: flex;
    justify-content: center;
}

.wrapper-container {
    width: 600px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    background-color: white;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

.cheff-logo {
    width: 36px
}

.chef-header-text {
    font-size: 24px;
    margin-left: 11px
}

.ingredient-form {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 12px
}

.ingredient-input {
    background-color: white;
    color: black;
    flex-grow: 1;
    min-width: 300px;
    max-width: 500px;
    padding: 9px 13px;
    border-radius: 6px;
    border: 1px solid #D1D5DB;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.ingredient-input::placeholder {
    font-weight: 500;
}

.ingredient-add-button {
    width: 140px;
    color: #FAFAF8;
    background-color: #141413;
    border: 1px solid #141413;
    border-radius: 5px;
    box-shadow: none;
    padding: 4px;
    font-size: 11px;
}

.recipe-action-container {
    background-color: rgba(223, 223, 223, 0.441);
    border-radius: 8px;
    padding: 20px 30px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 60px;
}

.recipe-question {
    margin: 3px 0px;
    font-size: 12px;
    font-weight: 600;
}

.recipe-question-description {
    margin: 3px 0px;
    font-size: 10px;
}

.recipe-generate-button {
    color: #FAFAF8;
    background-color: coral;
    border: 1px solid coral;
    padding: 6px;
}

.suggested-recipe-container {
    color: #475467;
    line-height: 28px;
    font-size: 1.125rem;
    font-weight: 400;
}
